 <p><%= notice %><%= alert %></p>

 <% if customer_signed_in? %>
   <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
 <% else %>
   <%= link_to 'Googleでサインアップしてね', customer_google_omniauth_authorize_path %>
   <%= link_to 'Facebookでサインアップしてね', customer_facebook_omniauth_authorize_path %>
 <% end %>